<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <main id="app">
    </main>
  </body>
  <script src="dist/bundle.js" charset="utf-8"></script>
  <!-- Javascript -->
  <script src="/js/jquery-1.11.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- custom js -->
</html>
